
<script src='<%=ResolveClientUrl("~/js/site.js") %>'
        type="text/javascript"></script>

@{
    ViewData["Title"] = "Editar";
}
<h1>@ViewData["Title"]</h1>

<form action="Edit" method="post">
    <div class="form-group">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" id="Name" aria-describedby="Name">
    </div>
    <div class="form-group">
        <label for="LastName">Sobrenome</label>
        <input type="text" class="form-control" id="LastName" aria-describedby="LastName">
    </div>
    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" onkeydown="fMasc(this, mCPF);" onblur="validarCPF(this)" class="form-control" id="CPF" aria-describedby="CPF" maxlength="14">
    </div>
    <div class="form-group">
        <label for="RG">RG</label>
        <input type="text" onkeydown="fMasc(this, mRG);" class="form-control" id="RG" aria-describedby="RG" maxlength="12">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" aria-describedby="email">
    </div>
    <div class="form-group">
        <label for="Nationality">Nacionalidade</label>
        <input type="tel" class="form-control" id="Nationality">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="PersonId" value="">
    </div>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>