@{
    ViewData["Title"] = "Listagem de Pessoas";
}

<div class="text-center">
    <h1 class="display-4">Listagem de Pessoas</h1>
    <br/>
       <table class="table">
           <thead class="thead-dark">
               <tr>
                   <th>
                       #ID
                   </th>
                   <th>
                       Nome
                   </th>
                   <th>
                       Sobrenome
                   </th>
                   <th>
                       CPF
                   </th>
                   <th>
                       RG
                   </th>
                   <th>
                       EMAIL
                   </th>
                   <th>
                       Nacionalidade
                   </th>
                   <th colspan="2">
                       Ações
                   </th>
               </tr>
           </thead>
          
           <tr scope="row">
               <td>
                   #1
               </td>
               <td>
                   Ana
               </td>
               <td>
                   Silva
               </td>
               <td>
                   123.456.789-01
               </td>
               <td>
                   12.345.678-9
               </td>
               <td>
                   ana@email.com
               </td>
               <td>
                   Brasileira
               </td>
               <td>
                   <input type="button"  value="Editar"/>
               
                   <input type="button"  value="Excluir" />
               </td>
           </tr>
       </table>
</div>
