@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Listagem de Pessoas</h1>
    <br/>
       <table class="table">
           <thead class="thead-dark">
               <tr>
                   <th>
                       #ID
                   </th>
                   <th>
                       Nome
                   </th>
                   <th>
                       Sobrenome
                   </th>
                   <th>
                       CPF
                   </th>
                   <th>
                       RG
                   </th>
                   <th>
                       EMAIL
                   </th>
                   <th>
                       Nacionalidade
                   </th>
               </tr>
           </thead>
          
           <tr scope="row">
               <td>
                   #1
               </td>
               <td>
               </td>
               <td>
               </td>
               <td>
               </td>
               <td>
               </td>
               <td>
               </td>
               <td>
               </td>
           </tr>
       </table>
</div>
